* {
  box-sizing: border-box;
}

[href] {
  background: deepskyblue;
  border-style: solid;
  border-width: thick;
  border-color: deepskyblue;
  color: #111;
}

:focus {
  outline-style: outset;
  outline-color: darkviolet;
  outline-width: 2mm;
}

:link:hover {
  border-style: outset;
  border-color: darkviolet;
}

::selection {
  background: lime;
  color: black;
}

html {
  font-size: calc(1em + 1vmax);
  font-family: sans-serif;
  background: #ed3;
  color: #111;
}

body {
  margin: 0;
  padding: 1rem;
  overflow-wrap: anywhere;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  margin-block-end: 1em;
}

address {
  font-size: 2rem;
  font-style: inherit;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

address :link {
  margin-inline-end: .5ex;
  margin-block-end: .5ex;
}

menu {
  font-size: 2rem;
  list-style: none;
  padding: 0;
}

li {
  margin-block-start: 1.5ex;
  margin-block-end: 1.5ex;
  margin-inline-start: 0;
  margin-inline-end: 1ex;
}

li :link {
  padding: .5ex;
}

li a:first-of-type {
  margin-inline-end: 0;
}

[hidden]:focus {
  display: initial;
}
